@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http

@inject UserManager<CustomUser> userManager
@inject SignInManager<CustomUser> signInManager
@inject IHttpContextAccessor httpAccessor

<AuthorizeView>
    <Authorized>
        <a class="loginWelcome" style="color:white"><i class="far fa-user-circle" style="color:white"></i>&nbsp; @context.User.Identity.Name!</a>
        <a class="registerUserText registerUserText-Hover" href="Identity/Account/Register">Register New User</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link" style="margin-top:0px">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code  {


}
