@using GeneralTillApp.Data
@inject ApplicationDbContext _context

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">GeneralTill</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home" style="font-size: 20px; margin-right:1em"></i> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cashregister" Match="NavLinkMatch.All">
                <i class="fas fa-dollar-sign" style="font-size:20px; margin-right:1em"></i> Cash Register
            </NavLink>
        </li>

        @if (User != null)
        {
            @if (User.UserRole == StaticMembers.Role_Admin || User.UserRole == StaticMembers.Role_Management)
            {
                <li class="nav-item px-3">
                    <NavLink @onclick="() => expandMenu = !expandMenu"
                             class="nav-link px-3"
                             style="cursor:pointer">
                        @if (!expandMenu)
                        {<i class="far fa-caret-square-right" style="font-size:20px; margin-right:1em"></i>}
                        @if (expandMenu)
                        {<i class="far fa-caret-square-down" style="font-size:20px; margin-right:1em"></i>}
                        Products
                    </NavLink>
                    @if (expandMenu)
                    {
                        <ul>
                            <li class="nav-item">
                                <NavLink class="nav-link" style="cursor:pointer" href="/product">
                                    <i class="far fa-square" style="font-size:15px"></i>
                                    &nbsp;&nbsp;All Products
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" style="cursor:pointer" href="/product/addproduct">
                                    <i class="far fa-square" style="font-size:15px"></i>
                                    &nbsp;&nbsp;Add Product
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" style="cursor:pointer" href="/product/settings">
                                    <i class="far fa-square" style="font-size:15px"></i>
                                    &nbsp;&nbsp;Product Settings
                                </NavLink>
                            </li>
                        </ul>

                    }
                </li>
            }
        }
    </ul>
</div>



@code {
    #region Properties

    [CascadingParameter]
    private Task<AuthenticationState> _authState { get; set; }

    private AuthenticationState AuthState { get; set; }

    private CustomUser User { get; set; }

    private RoleManager<IdentityRole> _roleManager { get; set; }

    private bool collapseNavMenu = true;

    private bool expandMenu { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    #endregion

    #region Methods

    protected override async Task OnInitializedAsync()
    {
        AuthState = await _authState;

        if (AuthState != null)
        {
            User = CustomUser.GetUser(AuthState, _context);
        }
        else
        {
            Console.WriteLine("Error occured while loading the user, are you logged in?");
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    #endregion
}
